@page
@using Microsoft.Extensions.Localization
@using Usmc.Steward.Banker.Localization
@using Usmc.Steward.Banker.Web.Pages.Banker
@model Usmc.Steward.Banker.Web.Pages.Banker.IndexModel
@inject IStringLocalizer<BankerResource> L

@{
}
<h1>Banker</h1>
<p>@L["SamplePageMessage"]</p>
